body {
  /* background-image: #555555; */
  background: rgb(113, 42, 173);
  background: linear-gradient(
    25deg,
    rgba(113, 42, 173, 1) 54%,
    rgba(204, 204, 204, 1) 54%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.content {
  background-color: rgba(255, 255, 255, 1);
  margin:  0 15%;
  padding: 0 4%;
}
.ellipsis {
  max-width: 240px; /* or 100% */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-photo {
  border: 1px solid #8d69e5;
  margin: 15px;
}

.page {
 padding-top: 25px;
}

img#me {
  width: 200px;
  height: 200px;
}
img.logo {
  width: 100px;
}
.logo-container {
  height: 100px;
}
i.contact {
  color: darkmagenta;
  font-size: 30px;
}
.service-hub {
  color: black;
}

.copyright {
  color: grey;
  font-size: 8px;
}

.cv {
  color: grey;
}

i.cv {
  font-size: 20px;
}
.bubbleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
  width: 50%;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
  .flexContainer div{
 width: 164px;
}
.bubbleContainer div {
  border: 1px dashed gray;
  border-radius: 15px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  width: auto;
  width: fit-content; /* shrink to content */
}
.skills {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .content {
    margin-left: 15px;
    margin-right: 15px;
  }
  .ellipsis {
    max-width: 120px; /* or 100% */
  }
  .bubbleContainer {
    width: 100%;
  }
  .skills {
    display: flex;
    flex-direction: column;
  }
  .flexContainer {
   justify-content: center;
}

}
